html {
  height: 100%;
  background: linear-gradient(to top, #5b3d6b, #e1e1e1);
}


h1 {
  position: relative;
  text-align: center;
  color:rgb(50, 50, 50);
}


ul {
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  background-color: rgb(50, 50, 50);
}
  ul li {
  float: left;
}
    .TelEm {
  float: right;
}
      ul li a {
  display: block;
  color: rgb(237, 234, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
        ul li a:hover {
  background-color: rgb(170, 132, 201);
}
          .fontBar {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 200px;
    margin-right: 200px;
      border-style: ridge ;
      border-width: 4px;
      border-color: rgb(69, 2, 95);
      padding: 0px 30px;
}


.image-set {
  width: 240px;
  height: 240px;
    margin-top: 20px;
    border-style: outset;
    border-width: 5px;      
    border-color: rgb(170, 132, 201);
    border-radius: 4px;
}
  h3, h4 {
  margin-top: 43px;
    font-size: 21px;
}


p {
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;
    position: absolute;
    left: 38%;
    top: 28%;
    transform: translate(-50%, -50%);
}
  pre {
  font-family: 'Time New Roman', Times, serif;
  font-size: 16px;
    border: dashed;
    display: inline-block;
    border-width: 4px;      
    padding: 4px 6px;
    border-color: rgba(254, 215, 255, 0.2);
    border-radius: 8px;
      text-align: left;
      position: absolute;
      left: 55%;
      top: 48%;
      transform: translate(-50%, -50%);
}
    .BonusImage1-set {
  width: 200px;
  height: 100px;
    position: absolute;
    left: 47%;
    top: 80%;
    transform: translate(-50%, -50%) rotate(-23deg);
}
      .BonusImage2-set {
  width: 210px;
  height: 150px;
    position: absolute;
    left: 76%;
    top: 78%;
    transform: translate(-50%, -50%) rotate(9deg);
}